@{
    ViewData["Title"] = "Report";
}

<h2>Report</h2>

<h4 class="mt-3">Totale verbali per trasgressore</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Totale Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var totV in ViewBag.TotaleVerbali)
        {
            <tr>
                <td>@totV.Trasgressore</td>
                <td>@totV.TotaleVerbali</td>
            </tr>
        }
    </tbody>
</table>

<h4 class="mt-3">Totale punti decurtati per trasgressore</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Totale Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var totP in ViewBag.TotalePunti)
        {
            <tr>
                <td>@totP.Trasgressore</td>
                <td>@totP.TotalePunti</td>
            </tr>
        }
    </tbody>
</table>

<h4 class="mt-3">Violazioni con punti > 10</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var punti in ViewBag.PuntiMaggiore10)
        {
            <tr>
                <td>@punti.Importo</td>
                <td>@punti.Cognome</td>
                <td>@punti.Nome</td>
                <td>@punti.DataViolazione.ToShortDateString()</td>
                <td>@punti.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>

<h4 class="mt-3">Violazioni con importo > 400</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var importo in ViewBag.ImportoMaggiore400)
        {
            <tr>
                <td>@importo.Importo</td>
                <td>@importo.Cognome</td>
                <td>@importo.Nome</td>
                <td>@importo.DataViolazione.ToShortDateString()</td>
                <td>@importo.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
